body{
    background-color:none;
}
h3 {
    font:20 comic sans;
    padding: 1px;
    color:orangered;
}
h4 {
    font:20 comic sans;
    padding: 1px;
    color:orangered;
}
hr 
{
background-color:white;
width:30%;
border-style: none;
height:2px;
}
